* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --darkblue:#143259;
    --middelblue:#115d8c;
    --lightblue:#3f93a6;
    --mainwhite:#f2f2f2;
    --mainblack:#262626;
    --maingrey:#676767;

    
}

@font-face {
    font-family: 'concorderegular';
    src: url('concorde_regular-webfont.woff2') format('woff2'),
         url('concorde_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'founders_grotesklight';
    src: url('foundersgrotesk-light-webfont.woff2') format('woff2'),
         url('foundersgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'founders_groteskmedium';
    src: url('foundersgrotesk-medium-webfont.woff2') format('woff2'),
         url('foundersgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'founders_groteskregular';
    src: url('foundersgrotesk-regular-webfont.woff2') format('woff2'),
         url('foundersgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'founders_grotesksemibold';
    src: url('foundersgrotesk-semibold-webfont.woff2') format('woff2'),
         url('foundersgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5{
    font-family: concorderegular;
}

p,a,li{
    font-family:founders_grotesklight;
}
.bold{
    font-family: founders_groteskmedium;
    
}