---
import Mainlayout from "../../layouts/mainlayout.astro";
export async function getStaticPaths() {
  const url =
    "https://xvbpoegkmhnbxcjwtzrw.supabase.co/rest/v1/testimonials-table";

  const api =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2YnBvZWdrbWhuYnhjand0enJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE2NjI1NzIsImV4cCI6MTk5NzIzODU3Mn0.x3dsG9E4C9P6LnkeWoD4gn-NT24yTXVI7d2P4s22FRM";

  const options = {
    method: "GET",
    headers: {
      apikey: api,
    },
  };

  const data = await fetch(url, options).then((res) => res.json());

  return data.map((singleTestimonial) => {
    return {
      params: { id: singleTestimonial.id },
      props: { singleTestimonial },
    };
  });
}
const {singleTestimonial} = Astro.props;




---

<Mainlayout>
  <div class="comment-container">
    
     
      <div class="comment-box">
          <div class="comment-wrapper">
                <div class="name-container">
                  <p>{singleTestimonial.name}</p>
                </div>
                <div class="description-container">
                  <p>{singleTestimonial.description}</p>
                </div>
          </div>
      </div>

    
   
  </div>
   
</Mainlayout>

<style>
  p{
    color: var(--mainwhite);
  }
  .comment-container{
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: var(--mainblack);
}

.comment-box{
  width: 350px;
  border-radius: 25px;
  height: 300px;
  background-color: var(--middelblue);
}
.comment-wrapper{
  width: 280px;
  margin-top: 20px;
  margin-inline: auto;
  
}
.name-container{
  background-color: var(--darkblue);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;

}
.description-container{
  margin-top: 20px;
  width: 280px;
  height: 180px;
  border-radius: 15px;
  padding: 10px 20px;
  
  background-color: var(--darkblue);

}



</style>

