---
import "../styles/style.css";
---

<footer>
  <p>
    Royale Escapes, København K, Fredericiagade 30 <br />
    1310 København, Danmark
  </p>

  <div class="socials">
    <a href="https://www.facebook.com/royalescapescph"><i class="fa-brands fa-facebook fa-2xl"></i></a>
    <a href="https://www.instagram.com/royalescapescph/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
  </div>
</footer>

<style>
  footer {
    background-color: var(--mainblack);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socials a i {
    color: white;
    cursor: pointer;
  }
</style>
