---

---


<main>
    <div>
        <h1>The Royal <br> Playroom</h1>
        <div class="ani">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="/lottiefiles/arrow.json" background="Transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay></lottie-player>
        </div>
    
    </div>
    
</main>


<style>



	.ani{
		position: relative;
		left: 50px;
	}
	main {
		height: 90vh;
		background-image: url("img/escape.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content:center;
		

	}

	h1{
		font-size: 95px;
		margin-top: 60px;
		color:var(--mainwhite)
	}



</style>