---
const { headline } = Astro.props;
---

<div class="testimonial-container">
    <div class="first-section">
        <div class="title-container">
            <p>Titel</p>
        </div>
        <div class="stars-container"></div>
    </div>

</div>


<style>
    .testimonial-container{
        width: 400px;
        height: 300px;
        background-color: var(--middelblue);
        border-radius: 25px;
    }

    .title-container {
        background-color: var(--darkblue);
        display: inline-block;
        
        width:140px ;
        height: 40px;
        padding-top: 10px;
        padding-left: 15px;
        border-radius: 15px;
    }
    .title-container p{
        color:var(--mainwhite);
    }
</style>