---
import Button from "./Button.astro";
const { name, content, link } = Astro.props;

function getFirstchars(str, length) {
    return str.substring(0, length);
}
---

<div class="testimonial-container square">
    <div class="first-section">
        <div class="title-container">
            <p>{name}</p>
        </div>
        <div class="stars-container"></div>
    </div>
    <div class="second-section">
     <!-- <p class="content">{getFirstchars(content,20)}</p>    -->
     <p class="content">{content}</p>  

    </div>
    <div class="button-container">
        <a class="readMore" href={link}>Læs mere</a>
    </div>
    


</div>


<style>
    .testimonial-container{
        width: 350px;
        height: 300px;
        background-color: var(--middelblue);
        border-radius: 25px;
        display: inline-block;
    }

    .title-container {
        background-color: var(--darkblue);
        display: inline-block;
        margin-top: 25px;
        margin-left: 15px;
        width:140px ;
        height: 40px;
        padding-top: 10px;
        padding-left: 15px;
        border-radius: 15px;
    }
    .title-container p{
        color:var(--mainwhite);
    }
    .second-section{
        width: 316px;
        height: 160px;
        background-color: var(--darkblue);
        border-radius: 15px;
        margin-top: 10px;
       margin-left: 15px;
    }
    .readMore{
       
        padding:8px 20px;
        border-radius: 10px;
        background-color: var(--lightblue);
        display: inline-block;
        color:var(--mainwhite);
        text-decoration: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: 10px;
        margin-right: 20px;
    }
    .content{
        padding: 15px;
        color: var(--mainwhite);
        white-space: normal
    }

    .button-container{
        display: flex;
        justify-content: flex-end;
    }

</style>