---
import Button from "./Button.astro";
import Testimonial from "./Testimonial.astro";
const url = "https://xvbpoegkmhnbxcjwtzrw.supabase.co/rest/v1/testimonials-table";
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2YnBvZWdrbWhuYnhjand0enJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE2NjI1NzIsImV4cCI6MTk5NzIzODU3Mn0.x3dsG9E4C9P6LnkeWoD4gn-NT24yTXVI7d2P4s22FRM";
const options = {
  method: "GET",
  headers: {
    apikey: api,
  },
};

const data = await fetch(url, options).then((res) => res.json());


---


<div class="testimonials-container">
   
   
    <div class="headline-container">
        <h2>Hvad siger vores kunder?</h2>
      </div>
    <div class="wrapper">
        <img id="left" class="arrow left" src="img/arrowleft.svg" alt="">
        
        
        <div class="carousel">
            {
                data.map((testmonial) => {
                    return <Testimonial class="square" name={testmonial.name} content={testmonial.description} link={"testimonials/" + testmonial.id}/> 
                })
            }

            <!-- <div class="square blue" draggable="false"></div>
            <div class="square red" draggable="false"></div>
            <div class="square yellow" draggable="false"></div>
            <div class="square green" draggable="false"></div>
            <div class="square orange" draggable="false"></div>
            <div class="square grey" draggable="false"></div> -->
        </div>
        <img  class="arrow right" src="img/arrowright.svg" alt="">
    </div>

    <div class="button-container">
        <Button link="/comment" action="skriv din egen anmeldelse"/>
    </div>
    

    




</div>

<script>
    const carousel = document.querySelector(".carousel");
    const arrowicons = document.querySelectorAll(".arrow");
    const firstSquare = carousel.querySelectorAll(".square")[0];

    let isDragStart = false, isDraggin = false, prevPageX, prevScrollLeft, postitionDiff;
    let firstSquareWith = firstSquare.clientWidth +8;

    arrowicons.forEach(icon => {
        icon.addEventListener("click", () => {
            
            carousel.scrollLeft += icon.id == "left" ? -firstSquareWith : firstSquareWith;
        })
    })

    const autoSlide = () => {
        if (carousel.scrollLeft == (carousel.scrollWidth - carousel.clientWidth )) return;

        postitionDiff = Math.abs(postitionDiff);
        //let firstSquareWith = firstSquare.clientWidth +4;
        let valDifference = firstSquareWith - postitionDiff

        if(carousel.scrollLeft > prevScrollLeft){
            return carousel.scrollLeft += postitionDiff > firstSquareWith / 3 ? valDifference : -postitionDiff;
        }else{
            return carousel.scrollLeft -= postitionDiff > firstSquareWith / 3 ? valDifference : -postitionDiff;
        }
        
    }

    const dragStart = (e) =>{
        isDragStart = true;
        prevPageX = e.pageX || e.touches[0].pageX;
        prevScrollLeft = carousel.scrollLeft;
    }
    
    const dragging = (e) => {
        if(!isDragStart) return;
        e.preventDefault();
        // carousel.scrollLeft = e.pageX;
        isDraggin = true;

        postitionDiff = (e.pageX || e.touches[0].pageX) - prevPageX;
        carousel.scrollLeft = prevScrollLeft - postitionDiff;

        carousel.classList.add("dragging");
        
    }

    const dragStop = () => {
         isDragStart = false;
         carousel.classList.remove("dragging");
         if(!isDraggin) return;
         isDraggin = false;
         autoSlide();

    }


    carousel.addEventListener("mousedown", dragStart);
    carousel.addEventListener("touchstart", dragStart);


    carousel.addEventListener("mousemove", dragging);
    carousel.addEventListener("touchmove", dragging);


    carousel.addEventListener("mouseup", dragStop);
    carousel.addEventListener("mouseleave", dragStop);
    carousel.addEventListener("touchend", dragStop);

   
   

</script>


<style>
.headline-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.wrapper{
    max-width: 1074px;
    position: relative;
    margin-inline: auto;
}

.wrapper .carousel{
    overflow: hidden;
    white-space: nowrap; 
    scroll-behavior: smooth;
}

.carousel.dragging{
    scroll-behavior: auto;
}

.button-container{
    text-align: center;
    margin-bottom: 40px;
}




.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}
.right{
    right: 0;
}

.square{
     display: inline-block; 
    width: 350px;
    height: 350px;
    margin-inline: 4px;
    padding: 0;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green
}

.orange{
    background-color: orange;
}
.grey{
    background-color: grey;
}


</style>